.sliderRange {
  padding: 0 !important;
}
.valueLabel {
  span {
    background-color: black;
  }
}
.input_color_picker {
  background-color: #FFFAFA;
  height: 100%;
  border: none;
  padding: 0;
  color: #696969;
  padding: 0 20px;
  text-transform: uppercase;
  outline: none;
}